In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv("toy_dataset.csv")

In [24]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [25]:
p_i = df[df.Illness == 'Yes'].shape[0] / df.shape[0]

In [26]:
df[df.Illness == 'Yes'].shape[0] / df.shape[0]

0.08092666666666666

In [30]:
df["Illness"] = df["Illness"].map({'Yes':True,'No':False})

In [31]:
df["Illness"].value_counts()

False    137861
True      12139
Name: Illness, dtype: int64

In [32]:
df.Illness.mean()

0.08092666666666666

In [38]:
df[df.Gender == 'Male'].shape[0] / df.shape[0]

0.5586666666666666

In [46]:
df[(df.Income > 50000) & (df.Income < 100000 )].shape[0] / df.shape[0]

0.5659333333333333